body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    /* -webkit-font-smoothing: antialiased; */
}

p,
a,
li {
    font-size: 1.125rem;
}

.container {
    margin: auto;
}

.row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#custom-it-solutions {
    text-align: center;
}

.solution-card {
    max-width: 275px;
    border: 1px solid white;
    border-radius: 0.25em;
    background-color: #a62525;
    color: white;
    margin: 0.5em;
    padding: 1em;
}

#help-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5em;
}

@media screen and (max-width: 960px) {
    #help-grid {
        display: block;
    }
}

.type-of-help {
    display: flex;
    justify-content: space-between;
}

.type-of-help > i {
    flex: 0 0 10%;
    font-size: 3em;
    color: #a62525;
    text-align: center;
}

.help-description {
    flex: 0 0 85%;
}

.help-title {
    margin: 0.25em 0 0;
    color: #a62525;
}

.help-description > p {
    margin: 0;
}

@media screen and (max-width: 576px) {
    .container {
        max-width: 100%;
    }
}

@media screen and (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media screen and (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}